<!DOCTYPE html>
<html>
    <head>
        <title>PapaGuy-Tamer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h2>{{ title }}</h2>
        <p>{{ message }}</p>
        <ul class="spaced">
            {% if connected %}
                <li><a href="{{ url_for('print_serial_log') }}">Serial Log</a></li>
                <li><a href="{{ url_for('disconnect') }}">Disconnect</a></li>
            {% else %}
                <li>Disconnected. See <a href="{{ url_for('list_serial_ports') }}">Serial Ports</a></li>
            {% endif %}
            <li><a href="{{ url_for('list_moves') }}">Moves</a></li>
        </ul>
    </body>
</html>