<!DOCTYPE html>
<html>
    <head>
        <title>PapaGuy-Tamer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <ul style="list-style:none;">
            {% for item in list %}
                <li>
                    {% if href is defined %}
                        <a href="{{href[loop.index0]}}">{{item}}</a>
                    {% else %}
                        {{ item }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>