<!DOCTYPE html>
<html>
    <head>
        <title>PapaGuy-Tamer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <p>
            <a href="/autoconn">Reconnect</a>
        </p>
        <ul>
        {% for entry in list %}
            <li>
                {% if 'type' in entry %}
                    [{{entry.type}}]
                {% endif %}
                {% if 'href' in entry %}
                    <a href="{{ entry.href }}">{{entry.id}}</a>
                {% endif %}
                {% if entry.broken %}
                    <b style="color: red">!!BROKEN!! {{entry.id}}</b>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <ul style='margin-top: 2rem'>
            <li><a href="/moves" onclick="document.location.reload()">Refresh</a></li>
            <li><a href="/log">Log</a></li>
        </ul>
    </body>
</html>