<!DOCTYPE html>
<html>
    <head>
        <title>PapaGuy-Tamer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <ul>
        {% for item in list %}
            <li>
            {% if 'href' in item %}
                {% if 'sample' in item %}
                    [Sample]
                {% endif %}
                {% if 'move' in item %}
                    [Move]
                {% endif %}
                <a href="{{ item.href }}">{{item.id}}</a>
            {% else %}
                Broken: {{item.id}}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        <button style='margin-top: 10rem; padding: .5rem;' onclick="document.location.reload()">F5</button>
    </body>
</html>