<!DOCTYPE html>
<html>
    <head>
        <title>PapaGuy-Tamer: Rocket Socket</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        {% if refresh is defined %}
            <meta http-equiv="refresh" content="{{refresh}}">
        {% endif %}
    </head>
    <body>
        <p style="color: yellow">
            {{ message }}
        </p>
        {% if not is_rocket_logic %}
            <p>
                Papaguy is not running with the Rocket Logic. Change accordingly and restart.
            </p>
        {% else %}
            <p>
                Enter GNU Rocket Socket "host:port" combination and try to connect. Who knows whether that works out of the box.
            </p>
            <form action="{{ url_for('submit_rocket_socket') }}" method="post">
                <label for="socket-host">Socket connection</label>
                <input name="socket-host" placeholder="e.g. localhost:1338" value="{{ host }}"/>
                <br/>
                <label for="timeout-sec">Timeout</label>
                <input name="timeout-sec" placeholder="30 sec default." value="{{ timeout_sec }}"/>
                <i>Enter negative value for "forever", but I have no idea how we would stop it then...</i>
                <br/>
                <input type="submit"/>
            </form>
        {% endif %}
    </body>
</html>
