body {
    color: magenta;
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 2vw;
    font-size: 1.2rem;
    line-height: 2rem;
    height: 100%;
}

a {
    color: yellow;
}

.spaced > li {
    margin: 1rem;
    font-size: 1.5rem;
}

.huge-field {
    width: 100%;
    height: 60vh;
}